/*Body*/
7
body{
	background-color: #e3e1ed;
}


/*Navbar*/

nav#nav-bar.navbar.navbar-default{
	background-color: #60acb9;
}

.navbar-default .navbar-nav>li>a {
    color: #01000a;
    font-size: medium;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fffcfc;
    background-color: #3912988a;
    border: none;
}


/*jumbotron*/

.jumbotron{
	margin-top: -25px;
	background-image: url('../imagens/back_jumbotron.png');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;*/
    background-size: cover;
    height: 300px;
}

h2#relogio{
	border: none;
	background-color: #e3e1ed;
	font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    color: #2e384a;
}

/*Main*/

main#site-content{
	background-color: #e3e1ed;
}

.panel-primary {
    border-color: #cfe2f3;
}

.panel-primary>.panel-heading{

	background-color: #60acb9;
	border: none;
}

input.btn.btn-primary{

	background-color: #60acb9;
	border: none;
}

input.btn.btn-default{

    background-color: #60acb9;
    border: none;
}

input.btn.btn-default:hover{

    color:white;
    background-color: #862dd4;
    transition: background-color 1000ms linear;
    border: none;
    font-weight: 300;
}

input.btn.btn-primary.entrada:hover{

	background-color: #6abc6a;
	border: none;
	font-weight: 300;
}

input.btn.btn-primary.saida:hover{

	background-color: #dc3434;
	border: none;]
	font-weight: 300;
}

/*Página de erro de marcação*/

.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border: none;
}

.btn-warning:hover {
    color: #445873;
    background-color: #fcd45a;
    border: none;
}